@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 59px;
    margin-top: 79px;
}
h3{
    font-size: 30px;
    color: orange;
}
.Orange{
    color: rgb(9, 255, 0);
}
.jsection{
    display:flex;
    margin: 40px;
    
}
.banne{
    background-image: url("New folder/top-banner.png");
    background-repeat: no-repeat;
    

}
.width{
       width: 50%;
       padding-left: 2%;
       

}
.width img{
    width: 80%;
}
.Link{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(252, 53, 76) 0%, rgb(10, 191, 188) 51%, rgb(252, 53, 76) 100%);
    padding: 10px 40px;
    color: yellow;
    font-weight: 700;
    border-radius: 5px;
    
}

.nd{
    background-image: url("New folder/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.button2{
    text-decoration: none;
    background-image: linear-gradient(yellow ,green);
    padding: 10px 40px;
    color: yellow;
    font-weight: 700;
    border-radius: 5px;
}
.widthk{
    
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
    


}
.jisan{
    background-image: url("New folder/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
.h1text{
    font-size: 40px;

}
.aa{
    font-size: 25px;
}
#web{
    border-left: 7px;
    border-image: linear-gradient( rgb(226, 34, 108) ,rgb(136, 255, 0));
    border-image-slice: 1;
}
#black{
    border-left: 7px;
    border-image: linear-gradient( tomato ,blue);
    border-image-slice: 1;
}
footer p{
    margin-top: 100px;
    text-align: center;
}
